@charset "UTF-8";
body{
            padding:0;
            margin:0;
        }
        #bgVideo{
            min-width:100%;
            min-height:100%;
            margin : 0;
            padding : 0;
            position: absolute;
        }
        #video{
            top: 0px;
            left: 0px;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            overflow: hidden;
            position:fixed;
        }
        #client{
            font-family: Gugi;
            width: 450px;
            border-radius: 20px;
            height: 700px;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 100;
            position: absolute;
            color: white;
            top : 10%;
            left: 25%;
            padding:0;
            margin: 0;
        }
        #logo{
            margin:0;
            margin-top:20px;
            padding:0;
            font-size: 50px;
            text-align:center;
        }
        .addFont{
            font-size:20px;
            color:white;
            left:25%;
            float:left;
            width:120px;
            margin-left: 30px;
            text-align:right;
        }
        #icon{
            width:99%;
            height:70%;
            margin:0;
            /* margin-top:10px; */
            padding:0;
            border-radius: 20px;
            list-style-type:none;
        }
        #icon>li{
            float:left;
            width:99%;
            clear:both;
            margin:0;
            margin-top:30px;
            padding:0;
            height:40px;
            /* border:red 3px solid; */
        }
        .tag{
            margin-top:15px;
            border-radius:20px;
            float:right;
            height:30px;
            margin-right:80px;
            border:none;
            text-align: center;
            box-shadow:3px 3px 5px lightgray;
            outline:none;
            /* z-index:-1; */
        }
        #eyeOn{
            position:relative;
            margin:0;
            top:21px;
            right:-180px;
            /* border:3px red solid; */
            /* z-index:100; */
            color:gray;
        }
        #checkId{
            position:absolute;
            background-color:white;
            right:30px;
            top:130px;
            border-radius: 40px;
            width:40px;
            height:30px;
            border-style: none;
            outline:none;
            font-weight: bold;
            font-size:20px;
            font-family:Dokdo;
            overflow:hidden;
        }
        #checkid-icon{
            left:10px;
            top:5px;
            position: absolute;
            color:gray;
            transition:3s;
        }
        #buttons{
            position:absolute;
            left:77px;
            opacity: 0.7;
            transition:2s;
        }
        #addMember{
            width:120px;
            height:40px;
            border-radius: 30px;
            outline:none;
            border-style: none;
            position:relative;
            margin-left:50px;
            background-color:lightgray;
            font-family: Sunflower;
            font-weight:bold;
            font-size:20px;
        }
        #toMain{
            width:120px;
            height:40px;
            border-radius: 30px;
            outline:none;
            border-style: none;
            position:relative;
            background-color:lightgray;
            font-family: Sunflower;
            font-weight:bold;
            font-size:20px;
        }